Repository NET12115/Silk.NET-developer-project, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/silk-dotnet, @HurricanKai, @Perksey, @ThomasMiz

This is the November 2021 Update (v2.10.0) (#671)
  README.md
  Silk.NET.sln
  build/nuke/Build.cs
  build/props/common.props
  build/props/common.targets
  documentation/readme/dotnetfoundation_v4_horizontal_64.svg
  documentation/readme/silkdotnet_v3.png
  documentation/readme/silkdotnet_v3_horizontal.svg
  documentation/readme/silkdotnet_v3_horizontal_96.svg
  documentation/readme/wordmark480.png
  src/Assimp/Directory.Build.props
  src/Core/Directory.Build.props
  src/Input/Directory.Build.props
  src/Maths/Directory.Build.props
  src/Microsoft/Directory.Build.props
  src/OpenAL/Directory.Build.props
  src/OpenCL/Directory.Build.props
  src/OpenGL/Directory.Build.props
  src/OpenXR/Directory.Build.props
  src/Vulkan/Directory.Build.props
  src/Windowing/Directory.Build.props
Owners: @dotnet/silk-dotnet, @HurricanKai

Remove image mutate in OpenGL tutorials (#675)
  examples/CSharp/OpenGL Tutorials/Tutorial 1.4 - Textures/Program.cs
  examples/CSharp/OpenGL Tutorials/Tutorial 1.4 - Textures/Texture.cs
  examples/CSharp/OpenGL Tutorials/Tutorial 1.5 - Transformations/Program.cs
  examples/CSharp/OpenGL Tutorials/Tutorial 1.5 - Transformations/Texture.cs
  examples/CSharp/OpenGL Tutorials/Tutorial 2.2 - Camera/Program.cs
  examples/CSharp/OpenGL Tutorials/Tutorial 2.2 - Camera/Texture.cs
  examples/CSharp/OpenGL Tutorials/Tutorial 3.1 - Ambient Lighting/Texture.cs
  examples/CSharp/OpenGL Tutorials/Tutorial 3.2 - Diffuse Lighting/Texture.cs
  examples/CSharp/OpenGL Tutorials/Tutorial 3.3 - Specular Lighting/Texture.cs
  examples/CSharp/OpenGL Tutorials/Tutorial 3.4 - Materials/Texture.cs
  examples/CSharp/OpenGL Tutorials/Tutorial 3.5 - Lighting Maps/Program.cs
  examples/CSharp/OpenGL Tutorials/Tutorial 3.5 - Lighting Maps/Texture.cs
Owners: @dotnet/silk-dotnet

Update to .NET 6 RTM (#679)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  global.json
Owners: @dotnet/silk-dotnet

This is the .NET Conf 2021 Update (v2.10.1) (#682)
  build/props/common.props
  src/Core/Silk.NET.BuildTools/Silk.NET.BuildTools.csproj
Owners: @dotnet/silk-dotnet, @Perksey

Stop force pushing (#688)
  .github/workflows/publish-site.yml
Owners: @dotnet/silk-dotnet

Deploy website from main (#687)
  .github/workflows/publish-site.yml
Owners: @dotnet/silk-dotnet

No need to run CI on source-unrelated files (#691)
  .github/workflows/build.yml
Owners: @dotnet/silk-dotnet

Fix failing CI (#689)
  .github/workflows/publish-site.yml
Owners: @dotnet/silk-dotnet

CODEOWNERS:

# Everything
*                                   @dotnet/silk-dotnet

# Maths
/src/Maths/                         @HurricanKai

# SilkTouch
/src/Core/Silk.NET.SilkTouch        @HurricanKai

# Core
/src/Core/Silk.NET.Core             @Perksey
/src/Core/Silk.NET.Core.Win32Extras @Perksey

# BuildTools
/src/Core/Silk.NET.BuildTools       @Perksey
/**/*.gen.cs                        @Perksey

# Vulkan
/src/Vulkan/**/!*.gen.cs            @HurricanKai

# OpenGL
/src/OpenGL/**/!*.gen.cs            @ThomasMiz

# Input
/src/Input/**/!*.gen.cs             @ThomasMiz
